.signUp{
    background-color: white;
     background-size: cover;
     flex: 1;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 
 input{
    padding: 10px 10px 20px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

 .form{
     background-color: #fff;
     padding: 30px;
     border: 1px solid rgb(129, 121, 121);
     border-radius: 5px;
     
 }
 .signUpLogo{
     width: 200px;
     object-fit: contain;
     padding: 10px 0px;
 }
 
 .loginPara{
     color: rgba(var(--f52,142,142,142),1);
     font-size: 17px;
     font-weight: 600;
     line-height: 20px;
     margin: 0px 40px 20px 40px;
 }
 
 input{
     padding: 5px;
     margin: 3px 0px;
     outline: none;
     font-size: 16px;
     width: 100%;
     box-sizing: border-box;
 }
 
 .form > div{
     width: 80%;
     margin: auto;
 }
 
 #submit-btn{
     background-color: #ea9617;
     border: none;
     border-radius: 5px;
     color: white;
     font-weight: bold;
     padding: 5px 10px;
     width: 80%;
     cursor: pointer;
     margin-top: 8px;
 }
 
 .form2{
     background-color: #fff;
     padding: 30px;
     margin-top: 5px;
     border: 1px solid rgb(129, 121, 121);
     border-radius: 5px;
     }