/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
}

/* Create Post Styles */
.createPost {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #adb5bd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-div {
  border-top: 1px solid #adb5bd;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#toggle-btn {
  border: none;
  background-color: #5aeb5a;
  padding: 10px 15px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

#post-btn {
  border: none;
  background-color: #ea9617;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.details {
  border-top: 1px solid #adb5bd;
  padding: 15px;
}

textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}

#output {
  width: 100%;
  border: none;
  outline: none;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  max-height: 500px; /* Updated to ensure max height for both images and videos */
}

#output[type="video"] {
  max-height: 500px; /* Ensures video height does not exceed 500px */
}

.progress-bar {
  width: 100%;
  background-color: #f3f3f3;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}

.progress-bar-fill {
  height: 20px;
  background-color: #ea9617;
  text-align: center;
  line-height: 20px;
  color: #fff;
  width: 0;
  transition: width 0.25s;
}
